@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './primevue/tailwind.css';
@import 'tailwindcss/utilities';
@import 'primeicons/primeicons.css';

@import './variables.css';

body, #app {
    overflow: hidden;
    /*height: calc(100% - env(safe-area-inset-bottom, 0px) - env(safe-area-inset-top, 0px));*/
    min-height: calc(100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0));
    height: calc(100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0));
    width: 100vw;
}
